body {
  background-color: #101418;
  color: white;
  font-family: monospace;
}

.container {
  padding: 16px;
  background-color: rgba(0,0,0,0.75);
  border: 2px solid white;
  border-radius: 16px;
  width: fit-content;
}

a {
  color: #C0FFEE;
}

img {
  height: fit-content;
  border: 2px solid #DEF;
  border-radius: 8px;
}
